<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>discover places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        @if (loadedPlaces.length > 0) {
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ loadedPlaces[0].title }}</ion-card-title>
              <ion-card-subtitle>{{ loadedPlaces[0].price | currency }}</ion-card-subtitle>
            </ion-card-header>

            <ion-img [src]="loadedPlaces[0].imageUrl"></ion-img>
            <ion-card-content>
              <p>
                <ion-text>{{ loadedPlaces[0].description }}</ion-text>
              </p>
            </ion-card-content>
            <div>
              <ion-button
                fill="clear"
                color="primary"
                [routerLink]="['/', 'places', 'discover', loadedPlaces[0]._id]"
              >More
              </ion-button>
            </div>
          </ion-card>
        }
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <cdk-virtual-scroll-viewport appendOnly itemSize="10" class="example-viewport">
          <ion-list>
            <ion-item *cdkVirtualFor="let place of loadedPlaces.slice(1); let i = index" detail [routerLink]="['/', 'places', 'discover', place._id]">
              <ion-thumbnail slot="start">
                <ion-img [src]="place.imageUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>{{ place.title }}</h2>
                <p>{{ place.description }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </cdk-virtual-scroll-viewport>

<!--        <ion-list>-->
<!--          @for (place of loadedPlaces.slice(1); track place._id) {-->
<!--            <ion-item detail [routerLink]="['/', 'places', 'discover', place._id]">-->
<!--              <ion-thumbnail slot="start">-->
<!--                <ion-img [src]="place.imageUrl"></ion-img>-->
<!--              </ion-thumbnail>-->
<!--              <ion-label>-->
<!--                <h2>{{ place.title }}</h2>-->
<!--                <p>{{ place.description }}</p>-->
<!--              </ion-label>-->
<!--            </ion-item>-->
<!--          }-->
<!--        </ion-list>-->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
